.collection-page {
  display: flex;
  flex-direction: column;

  .collection-title {
    font-size: 190%;
    margin: 0 auto 30px;
  }

  .collection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;

    & .collection-item {
      margin-bottom: 30px;
    }
  }
}
